
body{
    background-color:#1B013B ;
    background-position: top center;
    background-size: 100%;
}

:root {
    --verde:#63F2BB;
}

:root {
    --morado:#9541E8;
}

/* =============== Container 1366 ================= */

.container-1920{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.container-1000{
    max-width: 1000px;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1100px){

    .container-1000{
        padding: 0px 50px 0px 50px;
    }

}

@media (max-width: 500px){

    .container-1000{
        padding: 0px 10px 0px 10px;
    }

}





/* =============== Header  ================= */

.navbar{
    padding: 30px 50px 30px 50px;
    color: #ffffff;
    background-color: transparent;
    z-index: 6;
    border: none;
}

.navbar #logo_header{
    height: 40px;
    display: none;
}

.navbar #logo_header-isotipo{
    height: 60px;
    display: block;
}

.navbar #logo_header2{
    height: 40px;
    display:none;
}

.navbar #logo_header2-isotipo-movil{
    height: 50px;
    display:block;
}

.navbar a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.navbar a i{
    font-size: 16px;
}

.navbar a:hover{
    text-decoration: none;
    cursor: pointer;
    color: var(--verde);
}

.navbar .item-menu{
    margin-left: 30px;
    opacity: 1 !important;
}

.navbar .inactive{
    color: var(--verde);
}

.navbar .menu-burger{
    color: #ffffff;
    font-size: 20px;
    
}

.navbar .menu-burger i{
    font-size: 24px;
    margin-top:10px;
}

.navbar .menu-header a:focus{
    text-decoration: none;
    color: var(--verde);
}



@media (max-width: 992px){

    .navbar{
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (max-width: 768px){

    .navbar{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .navbar #logo_header{
        height: 30px;
    }
   

}

/* =============== Sidenav ================= */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #130229;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 8px 32px 25px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}
  
.sidenav a:hover {
    color: var(--verde);
}

.sidenav .close-btne{
    font-size: 34px;
}

.sidenav .close-btne i{
    font-size: 34px;
    border-radius: 100px;
    width: 50px;
    padding-top: 7px;
    height: 50px;
}

.sidenav .logo-sidenav{
    height: 50px;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.sidenav .idioma a{
    display: inline-block;
    padding: 8px 10px 20px 10px;
}

.sidenav .active{
    color: var(--verde);
}

.sidenav .redes {
    margin-top: 50px;
}


.sidenav .redes a{
    display: inline-block;
    padding: 8px 10px 20px 10px;
}



/* =============== Home ================= */


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
  
.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
.home-video video {
    min-width: 100%;
    min-height: 100%;
}
  
.home-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#202055, #6348A9, #5281DB);
    z-index: 1;
    opacity: .70;
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
  
.home-content {
    z-index: 2;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 0px 0px 0px 0px;
    position: relative;
}
  
.home-content .items-center{
    width: 100%;
    height: 100vh;
    display: flex;
   align-items: center;
    
}

.home-content .items-center .logo-home{
    width: 365px; 
    margin: 0px auto 0px auto;
    margin-bottom: 0;
}



.home-content .redes{
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: left;
    margin-left: 50px;
}

.home-content .redes a{
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
}

.home-content .redes a:hover{
    color:var(--verde);
}

.home-content .img-montañas{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.home-content .overlay-2{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 200px;
    margin-left: 0px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(27,3,59,1));
}

.home-content .pino1{
    position: absolute;
    bottom: 0px;
    left: 50px;
    height: 570px;
}

.home-content .pino2{
    position: absolute;
    bottom: 0px;
    left: 230px;
    height: 400px;
}

.home-content .pino3{
    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 650px;
}

.home-content .pino4{
    position: absolute;
    bottom: 0px;
    right: 250px;
    height: 450px;
}

.home-content .pino5{
    position: absolute;
    bottom: 0px;
    right: 360px;
    height: 380px;
}



.home-content .pino1-movil{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 500px;
}

.home-content .pino2-movil{
    position: absolute;
    bottom: 0px;
    left: 130px;
    height: 400px;
}

.home-content .pino3-movil{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 540px;
}

.home-content .pino4-movil{
    position: absolute;
    bottom: 0px;
    right: 150px;
    height: 400px;
}

.home-content .pino5-movil{
    position: absolute;
    bottom: 0px;
    right: 260px;
    height: 280px;
}

.home-content .pino6-movil-alter{
    position: absolute;
    bottom: 0px;
    left: 70px;
    height: 300px;
    display: none;
}

.home-content .pino7-movil-alter{
    position: absolute;
    bottom: 0px;
    right: 90px;
    height: 250px;
    display: none;
}

.home-content .luna{
    position: absolute;
    bottom: 50px;
    left: 680px;
}

.home-content .luna-movil{
    position: absolute;
    bottom: 0px;
    left: 100px;
}

@media (min-height: 1400px){

    .home {
        max-height: 1400px;
    }
    
    .home-video {
        max-height: 1400px;
    }
    
    .home-video video {
        max-height: 1400px;
    }
    
    .home-overlay {
        max-height: 1400px;
    }

    .home-content {
        max-height: 1400px;
    }

    .home-content .items-center{
        max-height: 1400px;
    }

}

@media (min-height: 1520px){

    .home-content .luna{
        position: absolute;
        bottom: 50px;
        left: 700px;
    }

}
  
@media (max-width: 1366px){

    .home-content .pino1{
        height: 550px;
    }
    
    .home-content .pino2{
        height: 360px;
    }
    
    .home-content .pino3{
        height: 600px;
    }
    
    .home-content .pino4{
        height: 400px;
    }
    
    .home-content .pino5{
        height: 300px;
    }
    
}

@media (max-width: 1150px){

    .home-content .items-center .logo-home{
        width: 300px; 
    }

    .home-content h4{
        font-size: 20px;
    }

    .home-content .pino1{
        height: 500px;
    }
    
    .home-content .pino2{
        height: 300px;
    }
    
    .home-content .pino3{
        height: 520px;
    }
    
    .home-content .pino4{
        height: 340px;
    }
    
    .home-content .pino5{
        height: 240px;
    }

}

@media (max-width: 800px){

    .home-content .pino1-movil{
        height: 500px;
    }
    
    .home-content .pino2-movil{
        height: 400px;
    }
    
    .home-content .pino3-movil{
        height: 540px;
    }
    
    .home-content .pino4-movil{
        height: 400px;
    }
    
    .home-content .pino5-movil{
        height: 280px;
    }
      

}

@media (max-width: 720px){

    .home-content .items-center .logo-home{
        width: 260px; 
    }

    .home-content h4{
        font-size: 18px;
    }

    .home-content .pino1-movil{
        height: 450px;
    }
    
    .home-content .pino2-movil{
        height: 350px;
    }
    
    .home-content .pino3-movil{
        height: 490px;
    }
    
    .home-content .pino4-movil{
        height: 350px;
    }
    
    .home-content .pino5-movil{
        height: 230px;
    }
      

}

@media (max-width: 630px){


    .home-content .pino1-movil{
        height: 400px;
    }
    
    .home-content .pino2-movil{
        height: 300px;
    }
    
    .home-content .pino3-movil{
        height: 440px;
    }
    
    .home-content .pino4-movil{
        height: 300px;
    }
    
    .home-content .pino5-movil{
        height: 180px;
    }
      

}


@media (max-width: 585px){


    .home-content .pino1-movil{
        height: 350px;
    }
    
    .home-content .pino2-movil{
        height: 250px;
    }
    
    .home-content .pino3-movil{
        height: 390px;
    }
    
    .home-content .pino4-movil{
        height: 250px;
    }
    
    .home-content .pino5-movil{
        height: 130px;
    }
      
}

@media (max-width: 540px){


    .home-content .pino1-movil{
        height: 350px;
    }
    
    .home-content .pino2-movil{
        display: none;
    }
    
    .home-content .pino3-movil{
        height: 390px;
    }
    
    .home-content .pino4-movil{
        display: none;
    }
    
    .home-content .pino5-movil{
        display: none;
    }

    .home-content .pino6-movil-alter{
        display: block;
    }
    
    .home-content .pino7-movil-alter{
        display: block;
    }
      
}

@media (max-width: 450px){

    .home-content .items-center .logo-home{
        width: 240px; 
    }

    .home-content h4{
        font-size: 16px;
    }


    .home-content .pino1-movil{
        height: 350px;
    }
    
    .home-content .pino2-movil{
        height: 250px;
    }
    
    .home-content .pino3-movil{
        height: 390px;
    }
    
    .home-content .pino4-movil{
        height: 250px;
    }

      
}

.img-1920-4k {
    display: none;
}


@media (min-width: 1920px){

    .img-1920-4k {
        display: block;
    }

    .img-1920-4k img{
        width: 100%;
    }

    .home{
        display: none;
    }

}




/* =============== Background image ================= */

.bg-background-image{
    background-image: url('../images/bg-1900.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}


/* =============== Section Text ================= */

.section-text{
    padding: 200px 0px;
    text-align: center;
    margin-top: -10px;
    border: none;
    
}

.section-text h1{
    font-size: 54px;
    font-weight: 600;
}


.texto {
    background: -webkit-linear-gradient(#63F2BB,#9541E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


@media (max-width: 1100px){

    .section-text{
        padding: 200px 50px;
    }

    .section-text h1{
        font-size: 46px;
    }
    

}

@media (max-width: 992px){

    .section-text{
        padding: 170px 80px;
    }

    .section-text h1{
        font-size: 34px;
    }

}

@media (max-width: 775px){

    .section-text{
        padding: 170px 50px;
    }

    .section-text h1{
        font-size: 32px;
    }

}

@media (max-width: 680px){

    .section-text{
        padding: 130px 30px;
    }

    .section-text h1{
        font-size: 26px;
    }

}

@media (max-width: 567px){

    .section-text{
        padding: 200px 0px;
    }

    .section-text h1{
        font-size: 40px;
        line-height: 50px;
        width: 100%;
    }

}


/* =============== Section quienes somos ================= */

.section-quienes-somos{
    padding: 100px 0px 100px 0px;
    color: #ffffff;
    position: relative;
}

.section-quienes-somos h1{
    font-size: 40px;
    margin: 0px 0px 50px 0px;
    color: var(--verde);
    font-weight: 600;
}

.section-quienes-somos p{
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
    font-weight: 300;
}

#ilustracion1{
    margin: 0px -400px 0px 0px;
}

.align-ilustration{
    text-align: left;
}


@media (max-width: 1366px){

    #ilustracion1{
        margin: 0px -350px 0px 0px;
    }

}

@media (max-width: 1200px){

    #ilustracion1{
        margin: 0px -250px 0px 0px;
        height: 400px;
    }

}

@media (max-width: 992px){

    #ilustracion1{
        margin: 50px -100px 0px 0px;
        height: 400px;
    }

    .align-ilustration{
        text-align: right;
    }

}

@media (max-width: 600px){

    #ilustracion1{
        margin: 30px -150px 0px 0px;
        height: 350px;
    }

    .section-quienes-somos h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .section-quienes-somos p{
   
        margin-bottom: 36px;
    }

}


/* ===============  Circles ================= */


.circle-two-1{
    margin: 50px 0px 0px 0px;
}

.circle-two-1{
    margin: 0px 0px 100px 0px;
}

@media (max-width: 992px){

    .circle-two-1{
        height: 50px;
        margin: 0px 0px 0px 0px;
    }

    .circle-two-2{
        height: 50px;
        margin: 20px 0px 50px 0px;
    }

}


/* ============= Que hacemos ============== */

.circle-degrade-1{
  margin-top: 200px;
}

.section-que-hacemos{
    padding: 0px 0px 200px 0px;
    margin-top: -650px;
}

.section-que-hacemos .card-que-hacemos{
    padding: 70px;
    color: #ffffff;
    background-color: #000000;
    position: relative;
    width: 100%;
}

.section-que-hacemos .card-que-hacemos img{
    width: 100%;
}

.section-que-hacemos .card-que-hacemos h1{
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    color: var(--verde);
    font-weight: 600;
}

.section-que-hacemos .card-que-hacemos p{
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
    font-weight: 300;
}

@media (max-width: 1366px){

    .section-que-hacemos .card-que-hacemos{
        padding: 70px;
        color: #ffffff;
        background-color: #000000;
        position: relative;
        max-width: 100%;
        margin: 0px auto;
    }

    .circle-degrade-1{
        margin-left: -50px;
      }

}


@media (max-width: 992px){

    .section-que-hacemos{
        padding: 0px 0px 50px 0px;
        margin-top: -700px;
    }

    .section-que-hacemos .card-que-hacemos img{
        max-width: 300px;
        margin: 0px 0px 40px 0px;
    }


    .circle-degrade-1{
        margin-left: -200px;
      }

}


@media (max-width: 600px){

    .section-que-hacemos .card-que-hacemos{
        padding: 70px 30px;
        color: #ffffff;
        background-color: #000000;
    }

    .section-que-hacemos .card-que-hacemos img{
        max-width: 250px;
        margin: 0px 0px 0px 0px;
    }

    .section-que-hacemos .card-que-hacemos h1{
        font-size: 42px;
        margin-bottom: 40px;
    }
    
    .section-que-hacemos .card-que-hacemos p{
        margin: 0px 0px 50px 0px;
    }

}

/* ============= como lo hacemos ============== */

.section-como-hcemos{
    padding: 100px 0px 100px 0px;
    color: #ffffff;

}

.section-como-hcemos h1{
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    color: var(--verde);
    font-weight: 600;
}

.section-como-hcemos p{
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
    font-weight: 300;
}

.section-como-hcemos .btn-green{
    background-color: var(--verde);
    color: #000000;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
}

.section-como-hcemos .btn-green:hover{
    background-color: #000000;
    color: #ffffff;
}

.section-como-hcemos img{
    width: 100%;
}

@media (max-width: 992px){

    .section-como-hcemos{
        padding: 70px 0px 70px 0px;
      
    
    }

    .section-como-hcemos .btn-green{
        margin: 30px 0px 50px 0px;
    }

    .section-como-hcemos img{
        max-width: 400px;
    }

}

@media (max-width: 600px){


    .section-como-hcemos h1{
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    .section-como-hcemos p{
        margin: 0px 0px 36px 0px;
    }

    .section-como-hcemos img{
        max-width: 350px;
    }

    .section-como-hcemos .btn-green{
        width: 100%;
    }

}

.circle-degrade-2{
    width: 400px;
    margin-top: -180px;
    margin-right: -400px;
}

@media (max-width: 1366px){

    .circle-degrade-2{
        width: 400px;
        margin-top: -180px;
        margin-right: -350px;
    }
}

@media (max-width: 1200px){

    .circle-degrade-2{
        width: 400px;
        margin-top: -180px;
        margin-right: -250px;
    }
}

@media (max-width: 992px){

    .circle-degrade-2{
        width: 320px;
        margin-top: -150px;
        margin-right: -200px;
    }
}

@media (max-width: 600px){

    .circle-degrade-2{
        width: 250px;
        margin-top: -50px;
        margin-right: -150px;
    }
}


/* ============= servicios ============== */

.section-servicios{
    padding: 100px 0px 100px 0px;
    text-align: center;
    color: #ffffff;
}

.section-servicios h1{
    font-size: 40px;
    margin: 0px 0px 100px 0px;
    font-weight: 600;
}

.section-servicios a{
    text-decoration: none;
    color: #ffffff;
}

.section-servicios a:hover{
    color: var(--verde);
}

.section-servicios .card-servicio{
    background: rgba(0, 0,0, 0.3);
    height: 270px;
    padding: 35px 20px 0px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-servicios .card-servicio:hover{
    background: rgba(0, 0,0, 0.5);
}

.section-servicios .card-servicio .circulo-degradee{
    background-image: linear-gradient(#9541E8, #63F2BB);
    width: 115px;
    height: 115px;
    border-radius: 100px;
    margin: 0px auto 20px auto;
    padding-top: 5px;
}

.section-servicios .card-servicio .circulo-2{
    background-color: #0F0120;
    width: 106px;
    height: 106px;
    border-radius: 100px;
    margin: 0px auto 0px auto;
}

.section-servicios .card-servicio .circulo-2 i{
    font-size: 40px;
    margin: 34px 0px 0px 0px;
    color: #ffffff;
}

.section-servicios .card-servicio  h5{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    line-height: 26px;
}

.modal .modal-dialog .modal-content{
    background-color: #000000;
    border-radius: 0px;
    color: #ffffff;
    padding: 30px 40px 50px 40px;
}

.modal .modal-dialog .modal-content h2{
    color: var(--verde);
    margin: 40px 0px 40px 0px;
}

.modal .modal-dialog .modal-content p{
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    margin: 0px 0px 20px 0px;
}

.modal .modal-dialog .modal-content i{
    color: #ffffff;
    font-size: 30px;
    opacity: 1;
    border: none;
    text-align: right;
    cursor: pointer;
}

.modal .modal-dialog .modal-content i:hover{
    color: var(--verde);
}

@media (max-width: 600px){

    .section-servicios h1{
        font-size: 40px;
    }

    .modal .modal-dialog{
        height: 100vh !important;
        padding: 0px;
        margin: 0px;
    }

    .modal .modal-content {
        height: 100vh !important;
    }

    .modal .modal-dialog .modal-content h2{
        font-size: 34px;
    }

    .modal .modal-dialog .modal-content p{
        color: #ffffff;
        font-weight: 300;
        font-size: 18px;
        line-height: 34px;
        margin: 0px 0px 30px 0px;
    }

}

/* ============= Clientes ============== */

.section-clientes{
    padding: 50px 0px 60px 0px;
    text-align: center;
}

.section-clientes h1{
    font-size: 40px;
    margin: 0px 0px 50px 0px;
    font-weight: 600;
    color: var(--verde);

}

.section-clientes p{
    font-size: 18px;
    line-height: 30px;
    margin: 0px auto 20px auto;
    font-weight: 300;
    color: #ffffff;
    max-width: 700px;
}

.section-clientes .slide{
    margin: 400px 0px 100px 0px;
}

.section-clientes .item-cliente{
    width: 100%;
    opacity: .6;
}

.section-clientes .item-cliente:hover{
    opacity: 1;
}

.section-clientes .items-movil-clientes{
    margin: 60px 0px 50px 0px;
}








@media (max-width: 567px){



    .section-clientes{
        text-align: left;
    }

    .section-clientes p{
        margin: 0px 0px 36px 0px;
    }

}

/* ============= Clientes ============== */

.section-contacto{
    background-color: #130229;
    padding: 100px 0px 100px 0px;
    position: relative;
}

.section-contacto h1{
    color: var(--verde);
    font-size: 60px;
    margin: 0px 0px 30px 0px;
}

.section-contacto .nav-tabs {
    border-bottom: none;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 70px;
}

.nav-tabs>li>a {
    font-size: 16px;
    margin-right: 20px;
    color: #ffffff;
    opacity: .5;
    border-bottom: 2px solid #130229;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #63F2BB;
    border-radius: 0px;
    opacity: 1;
}

.nav-tabs>li>a:hover {
    color: #fff;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #130229;
    border-radius: 0px;
    opacity: 1;
}

.section-contacto h2{
    font-size: 44px;
    color: #ffffff;
    line-height: 50px;
    margin: 30px 0px 50px 0px;
}

.section-contacto h6{
    font-size: 12px;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
    opacity: .7;
    line-height: 20px;
}

.section-contacto .formulario{
    background-image: linear-gradient(#9541E8, #63F2BB);
    padding: 40px 40px;
    margin-left: 40px;
    margin-top: 40px;
}

.section-contacto .formulario .form-group{
    margin-bottom: 20px;
}

.section-contacto .formulario label{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.section-contacto .formulario input{
    font-size: 14px;
    color: #000000';
}

.section-contacto .formulario .btn-black{
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 100px;
    font-size: 16px;
    height: 45px;
    width: 220px;
    margin-top: 10px;
    font-weight: 600;
}

.section-contacto .formulario .btn-black:hover{
    background-color: #3D00C0;
    color: #ffffff;
}

.section-contacto .formulario .w-100{
    width: 100%;
}

.section-contacto .circle-degradre{
    position: absolute;
    bottom: -100px;
    left: -500px;
}

.section-contacto .circles-min{
    position: absolute;
    bottom: 250px;
    left: 100px;
}


@media (max-width: 1000px){

    .section-contacto .nav-tabs {
        margin-top: 15px;
        margin-left: 0px;
    }

    .section-contacto h2{
        font-size: 32px;
        color: #ffffff;
        line-height: 40px;
        margin: 30px 0px 20px 0px;
    }
    
    .section-contacto h6{
        font-size: 12px;
        color: #ffffff;
        margin: 0px 0px 30px 0px;
        opacity: .7;
        line-height: 20px;
    }

    .section-contacto .formulario{
        background-image: linear-gradient(#9541E8, #63F2BB);
        padding: 40px 40px;
        margin-left: 0px;
        margin-top: 40px;
    }

}


@media (max-width: 560px){

    .section-contacto{
        padding: 70px 0px 70px 0px;
    }
    
    .section-contacto h1{
        font-size: 40px;
        margin: 0px 0px 30px 0px;
    }

    .nav-tabs>li>a {
        font-size: 14px;
        margin-right: 20px;
        padding-left: 0px;
        padding-right: 0px;
        color: #ffffff;
        opacity: .5;
        border-bottom: 2px solid #130229;
    }

    .section-contacto h2{
        font-size: 26px;
        color: #ffffff;
        line-height: 30px;
        margin: 30px 0px 20px 0px;
    }

    .section-contacto .formulario{
        padding: 40px 20px;
        margin-top: 30px;
    }

    .section-contacto .formulario .btn-black{
        width: 100%;
    }

}


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group>.form-control,
.input-group>.custom-select,
.input-group>.custom-file {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.fileinput.input-group {
  display: flex;
  margin-bottom: 9px;
  flex-wrap: nowrap;
}

.fileinput.input-group>* {
  position: relative;
  z-index: 2;
}

.fileinput .form-control {
  padding: .375rem .75rem;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}

.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.form-control .fileinput-filename {
  vertical-align: bottom;
}

.input-group>.form-control:not(:last-child),
.input-group>.custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fileinput.input-group>.btn-file {
  z-index: 1;
}

.fileinput-new {
  padding-right: 10px;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 .25rem .25rem 0;
}

.input-group-addon:not(:first-child) {
  border-left: 0;
}

.fileinput .input-group-addon {
  padding: .375rem .75rem;
  width: auto;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .btn {
  vertical-align: middle;
}

.fileinput .input-group-addon {
  padding: .375rem .75rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.fileinput.input-group>.btn-file {
  z-index: 1;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 .25rem .25rem 0;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}


/* ============= Footer ============== */

footer{
    background-color:#000000 ;
    padding: 80px 0px;
}

footer .logo-footer{
    height: 43px;
}

footer .menu{
    padding: 10px 0px 0px 0px;
}

footer .menu a{
    color: #ffffff;
    margin: 0px 10px;
}

footer .menu a:hover{
    text-decoration: none;
    color: var(--verde);

}

footer .redes{
    padding: 5px 0px 0px 0px;
}

footer .redes a{
    color: #ffffff;
    margin: 0px 20px 0px 0px;
    font-size: 20px;
}

footer .redes a:hover{
    text-decoration: none;
    color: var(--verde);

}

.footer-line{
    background-color: #63F2BB;
    color: #000000;
}

@media (max-width: 1200px){

    footer .menu a{
        color: #ffffff;
        margin: 0px 5px;
    }

}

@media (max-width: 992px){

    footer .logo-footer{
        margin: 0px 0px 20px 0px;
    }

    footer .redes{
        padding: 30px 0px 0px 0px;
    }

    footer .redes a{
        margin: 0px 10px 0px 10px;
    }

}

@media (max-width: 500px){

    footer .logo-footer{
        margin: 0px 0px 40px 0px;
    }

    footer .menu a{
        display: list-item;
        margin: 0px 0px 24px 0px;
        font-size: 18px;
    }

    footer .redes{
        padding: 50px 0px 0px 0px;
    }

    footer .redes a{
        margin: 0px 20px 0px 20px;
        font-size: 24px;
    }

}

/* ============= Clientes ============== */

.bg-dark{
    background-color: #1B013B;
}

.section-avisoprivacidad .title {
    padding: 20px;
    background-color: #1B013B;
}

.section-avisoprivacidad{
    color: #ffffff;
    padding: 50px 0px 40px 0px;
}

.section-avisoprivacidad a{
    color: #ffffff;
    font-size: 24px;
}

.section-avisoprivacidad a:hover{
    color: var(--verde);
    text-decoration: none;
}

.section-avisoprivacidad h1{
    color: var(--verde);
    font-size: 42px;
    margin: 50px 0px 70px 0px;
}

.section-avisoprivacidad p{
    font-size: 18px;
    margin: 0px 0px 60px 0px;
    line-height: 32px;
    opacity: .6;
}

.section-avisoprivacidad ul{
    margin: 0px 0px 60px 0px;
}

.section-avisoprivacidad li{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    line-height: 32px;
    opacity: .6;
}

@media (max-width: 992px){

    .section-avisoprivacidad{
        color: #ffffff;
        padding: 50px 20px 40px 20px;
    }

    .section-avisoprivacidad p{
        font-size: 16px;
        line-height:28px;
    }

    .section-avisoprivacidad li{
        font-size: 16px;
        line-height:28px;
    }

}